<%- include('partials/header') %>
  <div class="nav">
    <nav>
      <h2 class="heading-nav"> Secrets&nbsp; Sanctum</h2>
      <a class="nav-items" href="/secrets" <li>Home</li></a>
      <a class="nav-items" href="#" <li>My secrets</li></a>
      <a class="nav-items" href="#contact" <li>Contact</li></a>
      <div class="account-info float-right">
        <a href="#"><i class="fa-solid fa-user"></i></a>

        <%if(localUser){%>
          <p class="username">
            <%=localUser%>
          </p>
          <% }else if(googleUser){%>
            <p class="username">
              <%=googleUser%>
            </p>
            <%}%>
              <a class="btn-logout" href="/logout" role="button">Log Out</a>
      </div>
    </nav>
  </div>
  <div class="container-secrets">
    <div class="top">
      <i class="fas fa-key fa-3x fa-beat"></i>
      <h1 class="display-4">You've Discovered My Secret!</h1>
    </div>
    <div class="middle">
      <% usersWithSecrets.forEach(function(user){ %>
        <% user.secret.forEach(function(secret){%>
          <p id="secret" class="secret-text">
            <%=secret%>
          </p>
          <%});%>
            <% }); %>
    </div>
    <div class="bottom">
      <a class="btn-submit" href="/submit" role="button">Share your Secret</a>
    </div>
  </div>
  <%- include('partials/footer') %>